<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="/Res/js/jquery.min.js"></script>
<link rel="stylesheet" href="../assets/style/page.css" media="all">
<style type="text/css">
body {
  margin: 0px;
}
</style>
</head>
<body class="app">
  <main class="abs about">
  <div class="abs pages">
    <div class="rel page full page01">
      <div class="abs pic01">
        <img src="../image/about_1_pic.jpg" width="100%">
      </div>
      <!--<img class="abs txt01" src="img/about_txt01.png"></img>-->
      <div class="abs txt01">
        <div class="txtbox">
          <div class="h2">
            <b>(1)UMCG 融合创意媒介的新形态的品牌传媒营销平台</b>
          </div>
          融合创意和媒介两大专业智慧与经验，提供数字营销一体化解决方案。在数字时代下运用品牌策略、创意、媒介、公关四维一体化的整合<br /> 传播，打造符合时代感的传播方式帮助企业实现销售与品牌发展的跨越式发展
        </div>
      </div>
    </div>
    <div class="rel page full page01">
      <div class="abs pic01">
        <img src="../image/about_1_pic.jpg" width="100%">
      </div>
      <!--<img class="abs txt01" src="img/about_txt01.png"></img>-->
      <div class="abs txt01">
        <div class="txtbox">
          <div class="h2">
            <b>(2)UMCG 融合创意媒介的新形态的品牌传媒营销平台</b>
          </div>
          融合创意和媒介两大专业智慧与经验，提供数字营销一体化解决方案。在数字时代下运用品牌策略、创意、媒介、公关四维一体化的整合<br /> 传播，打造符合时代感的传播方式帮助企业实现销售与品牌发展的跨越式发展
        </div>
      </div>
    </div>
    <div class="rel page full page01">
      <div class="abs pic01">
        <img src="../image/about_1_pic.jpg" width="100%">
      </div>
      <!--<img class="abs txt01" src="img/about_txt01.png"></img>-->
      <div class="abs txt01">
        <div class="txtbox">
          <div class="h2">
            <b>(3)UMCG 融合创意媒介的新形态的品牌传媒营销平台</b>
          </div>
          融合创意和媒介两大专业智慧与经验，提供数字营销一体化解决方案。在数字时代下运用品牌策略、创意、媒介、公关四维一体化的整合<br /> 传播，打造符合时代感的传播方式帮助企业实现销售与品牌发展的跨越式发展
        </div>
      </div>
    </div>
    <div class="rel page full page01">
      <div class="abs pic01">
        <img src="../image/about_1_pic.jpg" width="100%">
      </div>
      <!--<img class="abs txt01" src="img/about_txt01.png"></img>-->
      <div class="abs txt01">
        <div class="txtbox">
          <div class="h2">
            <b>(4)UMCG 融合创意媒介的新形态的品牌传媒营销平台</b>
          </div>
          融合创意和媒介两大专业智慧与经验，提供数字营销一体化解决方案。在数字时代下运用品牌策略、创意、媒介、公关四维一体化的整合<br /> 传播，打造符合时代感的传播方式帮助企业实现销售与品牌发展的跨越式发展
        </div>
      </div>
    </div>
    <div class="rel page full page01">
      <div class="abs pic01">
        <img src="../image/about_1_pic.jpg" width="100%">
      </div>
      <!--<img class="abs txt01" src="img/about_txt01.png"></img>-->
      <div class="abs txt01">
        <div class="txtbox">
          <div class="h2">
            <b>(5)UMCG 融合创意媒介的新形态的品牌传媒营销平台</b>
          </div>
          融合创意和媒介两大专业智慧与经验，提供数字营销一体化解决方案。在数字时代下运用品牌策略、创意、媒介、公关四维一体化的整合<br /> 传播，打造符合时代感的传播方式帮助企业实现销售与品牌发展的跨越式发展
        </div>
      </div>
    </div>
  </div>
  </main>
  <aside class=" cirsBox">
    <ul class="abs cirs-list">
      <li class="on"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </aside>
  <script src="/Res/js/jquery.mousewheel.min.js"></script>
  <script src="/Res/js/TweenMax.min.js"></script>
  <script src="../assets/js/about.js?v=0.0.0"></script>
</body>
</html>