<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="/Res/js/layer/layui/layui.js"></script>

  <link rel="stylesheet" href="../../../assets/layui/css/layui.css" media="all">
 
<script src="/Res/js/jquery.min.js"></script>
 
 
<link href="login.css" rel="stylesheet">
<link href="/Res/css/bootstrap.css" rel="stylesheet">
<title>登录</title>
</head>
<body>
  <div id="login">
    <h3>用户登入</h3>
    <img class="avator" src="image/avatar.gif" width="96" height="96" />
    <div class="input-group">
      <span class="input-group-addon" aria-hidden="true" id="basic-addon1"> <span class=" glyphicon glyphicon-user" aria-hidden="true"></span>
      </span> <input id="UserName" type="text" class="form-control" placeholder="请输入用户名" aria-describedby="basic-addon1">
    </div>
    <div id="UserNameAlert" class="alert alert-danger fade in" style="display: none;">
      <strong></strong>
    </div>
    <div class="input-group">
      <span class="input-group-addon" aria-hidden="true" id="basic-addon2"> <span class=" glyphicon glyphicon-lock" aria-hidden="true"></span>
      </span> <input id="PassWord" type="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon2">
    </div>
    <div id="PassWordAlert" class="alert alert-danger fade in" style="display: none;">
      <strong></strong>
    </div>
    <div class="input-group" style="margin-left: auto; margin-right: auto;">
      <a href="javascript:Login();" class="btn btn-success btn-sm btn-block" role="button" style="width: 150px;margin-left: auto;margin-right: auto;">登录</a>
    </div>
  </div>
  
  
  <script type="text/javascript">
  function Login()
  {
    var UserCode = $('#UserName').val();
    var PassWord = $('#PassWord').val();
    $('#UserNameAlert').hide(500);
    $('#PassWordAlert').hide(500);
    if (UserCode == '')
    {
      $('#UserNameAlert strong').html('请输入用户名');
      $('#UserNameAlert').show(500);
      return;
    }
    $.post('../../../Login/CheckLogin', {
      'UserCode': UserCode,
      'PassWord': PassWord
    }, function (data) {
      console.log(data);
      if (data.MsgID == - 1)
      {
        $('#UserNameAlert strong').html(data.MsgTest);
        $('#UserNameAlert').show(500);
        $('#UserName').focus();
        $('#UserName').select();
      } 
      else if (data.MsgID == - 2)
      {
        $('#PassWordAlert strong').html(data.MsgTest);
        $('#PassWordAlert').show(500);
        $('#PassWord').focus();
        $('#PassWord').select();
      } 
      else
      {
        //layui.data(layuiTableName,{key:"config",value:data.Config});
        //layui.data(layuiTableName+".login",{key:"UserName",value:UserCode});

        //console.log(url);
        sessionStorage.setItem('UserName',data.UserName);
        window.location.href='../index.html?d='+new Date().getTime();
      }
    }, 'json');
  }
  $(function () {
    $('#UserName').keyup(function (event) {
      if (event.which == 13) {
        $('#PassWord').focus();
        $('#PassWord').select();
      }
    });
    $('#PassWord').keyup(function (event) {
      if (event.which == 13) {
        Login();
      }
    });
    var UserName=layui.data(layuiTableName+".login").UserName?layui.data(layuiTableName+".login").UserName:"";
    $("#UserName").val(UserName);
  })
  </script>
</body>
</html>